# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Defualt owner
* @johnkellyoxford

# File endings owner
*.xaml @NightRaven3142
*.xaml.cs @NightRaven3142 @nathanmc158 @johnkellyoxford
*.md @NightRaven3142 @nathanmc158 @johnkellyoxford

# You can also use email addresses if you prefer.
